/** header css  */
header {
  background: var(--color-black);
  position: relative;
}

.container {
  margin: auto;
  max-width: 140rem;
}

.navbar-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.store-name {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  color: var(--color-red-600);
}

.navbar-search {
  align-items: center;
  background: var(--color-white);
  border-radius: 0.2rem 0.3rem 0.3rem 0.2rem;
  display: flex;
  font-size: 1.5rem;
  height: 3.5rem;
  justify-content: space-between;
  overflow: hidden;
}

.navbar-search input {
  border: none;
  color: var(--color-black);
  font-size: 1.6rem;
  margin-left: 0.5rem;
  outline: none;
  padding: 0.5rem;
  width: 25rem;
}

.navbar-search button {
  background: var(--color-white);
  border-radius: 0 0.2rem 0.2rem 0;
  color: var(--color-red-600);
  height: 100%;
  padding: 0.5rem 1.5rem;
}

.navbar-btn-log {
  background: var(--color-red-600);
  border: none;
  border-radius: 0.2rem;
  margin: 0.5rem;
  padding: 1rem 2rem;
  color: var(--color-white);
}
